<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.prateekjoshi.agri_app">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/kiki"
        android:label="Tu Agri Control"
        android:supportsRtl="true"
        android:theme="@android:style/Theme">
        <activity android:name=".MainActivity" />
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AlertActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PreRegistration"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Registration1"
            android:label="@string/title_activity_registration"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Registration2"
            android:label="@string/title_activity_registration"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Registration3"
            android:label="@string/title_activity_registration"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Registration4"
            android:label="@string/title_activity_registration"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Registration5"
            android:label="@string/title_activity_registration"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Registration6"
            android:label="@string/title_activity_registration"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegistrationCodeActivity"
            android:label="RegistrationCodeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MenuNavActivity"
            android:label="@string/title_activity_menu_nav"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProfileCropDetailsActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HarvestActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DeliveryActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SingleCropProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TeacherActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name=".FirebaseAlertService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>